# install for Ubuntu vagrant
---

- name: providing vagrant rpm
  copy:
    src: "../files/{{ vagrant_deb_file }}"
    dest: "./{{ vagrant_deb_file }}"

# installs into /opt/vagrant and /usr/bin/vagrant
- name: installing deb file
  apt:
    deb: "{{ vagrant_deb_file }}"
    state: present
    allow_unauthenticated: True
  # when: not vagrant_wget_result.failed
  register: vagrant_apt_deb
# - debug: var=vagrant_apt_deb
