# install ansible on RedHat systems (except Fedora)
---

- name: EPEL repo is already configured
  stat: 
    path: {{ epel_repofile_path }}
  register: epel_repofile_result

- name: install EPEL repo
  yum:
    name: "{{ epel_repo_url }}"
    state: present
  register: epel_install
  when: not epel_repofile_result.stat.exists

- name: instal EPEL key
  rpm_key:
    key: "{{ epel_repo_gpg_key_url }}"
    state: present
  when: not epel_repofile_result.stat.exists
  ignore_errors: "{{ ansible_check_mode }}"

- name: install ansible
  yum: 
    name: ansible
    state: present 
    enablerepo: epel